In [6]:
from pyspark.sql import SparkSession
import sqlite3
import pandas as pd

In [18]:
conn = sqlite3.connect('bank.db')
customer_pandas_df = pd.read_sql_query('SELECT * FROM customer', conn)
transaction_pandas_df = pd.read_sql_query('SELECT * FROM \'transaction\'', conn)

In [21]:
transaction_pandas_df.head(3)

Empty DataFrame
Columns: [id, branchid, custid, type, date, amt]
Index: []

In [12]:
spark = SparkSession.builder.appName('test').getOrCreate()

## Spark EDA

- richest customer

- poorest customer

- richest customer’s favorite branch

- poorest customer’s favorite branch

- net total of each branch

In [14]:
spark_df = spark.createDataFrame(a_pandas_df)

In [22]:
spark_df.sort('balance', ascending=False).show(1)

+------+----------+-----+------+-------+
|custid|createdate|fname| lname|balance|
+------+----------+-----+------+-------+
|    13|1629056953| Leon|Burton|    0.0|
+------+----------+-----+------+-------+
only showing top 1 row